@import "tailwindcss";

@font-face {
    font-family: 'Tangerine';
    src: url('./assets/fonts/Tangerine/Tangerine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tangerine';
    src: url('./assets/fonts/Tangerine/Tangerine-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* theme */

@theme {
    --color-amethyst: #9b23ea;
    --color-amethyst-deep: #870ada;
}

.black-grad {
    background-image: linear-gradient(to bottom, #111111, black, #111111);
}

.amethyst-grad {
    background-image: linear-gradient(to right bottom, var(--color-amethyst), var(--color-amethyst-deep), var(--color-amethyst));
}

/* fonts */

.tangerine {
    font-family: 'Tangerine', 'Georgia', 'Times New Roman', 'Times', 'serif';
}

.georgia {
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
}

/* formatting addition to correctly read stories */

.story-text {
    white-space: pre-line;
}