@import "tailwindcss";

@import "./theme/theme.css";

@font-face {
    font-family: 'Tangerine';
    src: url('./assets/fonts/Tangerine/Tangerine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tangerine';
    src: url('./assets/fonts/Tangerine/Tangerine-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* important display settings for correct centering */

#root {
    min-height: 100dvh;
    display: flex;
}

/* fonts */

.tangerine {
    font-family: 'Tangerine', 'Georgia', 'Times New Roman', 'Times', 'serif';
}

.georgia {
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
}

/* formatting addition to correctly read stories */

.pre-line {
    white-space: pre-line;
}

.pre-wrap {
    white-space: pre-wrap;
}